name: HACS validation

on:
  push:
    branches:
      - main

jobs:
  hacs-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "plugin"
